body{
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0%;
}

.barra{
    background: rgb(10, 87, 228);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
.dropdown-menu{
    margin:17px;
    background: bisque;
    color: aquamarine;
    box-shadow: 0 0 10px rgbargb(0, 0, 0,0.568);
}
.menuperfil{
    color: white;
}
.menuperfil:focus{
    background: grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.568);
}
.cerrar:focus{
    background-color: red;
    box-shadow: 0 0 10px rgba(0,0,0,0.568);
}
.user{
    font-size: 35px;
}
.barra-lateral{
    background: rgb(36, 36, 36);
    color: white;
    min-width: 250px;
    min-height: 100vh;
    padding: 0;
}
.barra-lateral a{
    color: white;
}

.barra-lateral .menu a{
    display: block;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,.1)
    
}
.barra-lateral .menu a{
    background-color: rgb(35, 36, 35);
    text-decoration: none;
}
.active{
    background:rgb(101, 101, 199);

}
.barra-lateral .menu{
    border-top: 5px white;

}
.barra-lateral .menu a i{
    margin-right: 20px;
}

.main{
    padding-top: 40px;
}
.main .columna{
    padding-left: 40px;
    padding-right: 40px;
}


.barra{
    min-width: auto;
}
.dropdown-menu{
    margin: 20px -70px 0px;
}

@media  screen and (max-width: 575px){
    .barra-lateral{
        height: auto;
    }
}

.barra-lateral.menu a{
    display: inline-block;
    border-bottom:none;
}
.dropdown-menu{
    margin: 20px -78 0px;
} 

body{
    font-size: 16px;
    overflow: visible;
}