*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor{
	width: 90%;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	padding: 60px 0;
}
:root{
	scroll-behavior: smooth;
}
header{
	height: 100vh;
	background-image: radial-gradient(circle 248px at center, rgba(22, 217, 227, 0.5) 0%, rgba(48, 198, 236, 0.5) 47%, rgba(70, 173, 247, 0.5) 100%), url(../IMG/fondogrande.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.head{
	position: relative;
	text-align: center;
	top: 250px;
	font-size: 40px;
	margin-bottom: 15px;
	color: white; 

}

.laptop{
	position: relative;
	top: 30px;
	left: 700px;
	
}
.Menu{
	position: relative;
	top: 0px;
	left: 750px;
}

.subtitulo{
	text-align: center;
	font-size: 300;
	color: #9f8ad0;
	margin-bottom: 40px;
	font-size: 40px;
}

.contenedor-promo{
	display: flex;
}

.prom1{
	position: relative;
	top: 0px;
	left: 0px;
	
	
	width: 750px;
    height: 500px;
    background: linear-gradient(180deg, #05fce7 0%, rgba(0, 119, 255, 0.85) 100%);
    border-radius: 8px;
}
.imagen0{
	width: 600px;
    height: 400px;
	position: relative;
	margin-top: 50px;
	margin-left: 150px;
}
.text0{
	position: relative;
	top: 25px;
	left: 25px;
	color: rgb(0, 0, 0);
	font-size: 40px;
	margin-bottom: 15px;
}
.prom2{
	position: relative;
	top: 0px;
	left: 20px;
	width: 410px;
    height: 500px;
    background: linear-gradient(180deg, #05fce7 0%, rgba(0, 119, 255, 0.85) 100%);
    border-radius: 8px;
}
.text1{
	position: relative;
	top: 25px;
	left: 25px;
	font-size: 40px;
	margin-bottom: 15px;
}
.imagen1{
	position: relative;
	margin-top: 40px;
	margin-left: 30px;
	width: 350px;
    height: 250px;
}

.card1{
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
    width: 400px;
    height: 450px;
    background-image: linear-gradient(163deg, #11dd70 0%, #3508d8 100%);
    }
    .car1{
        width: 400px;
        height: 450px;
        background-color: #ffffff;
        transition: all 0.2s;
    }   
    .car1:hover{
        transform: scale(0.98);
        border-radius: 20px;
    }
    .car1:hover {
        box-shadow: 0px 0px 40px 2px rgba(6, 204, 98, 0.3);
    }
.Imagen3
{
    width: 350px;
    height: 340px;
}

.card2{
    margin-top: -450px;
    margin-left: 400px;
    text-align: center;
    width: 400px;
    height: 450px;
    background-image: linear-gradient(163deg, #11dd70 0%, #3508d8 100%);
    }
    .car2{
        width: 400px;
        height: 450px;
        background-color: #ffffff;
        transition: all 0.2s;
    }   
    .car2:hover{
        transform: scale(0.98);
        border-radius: 20px;
    }
    .car2:hover {
        box-shadow: 0px 0px 40px 2px rgba(6, 204, 98, 0.3);
    }

.Imagen4
{
    width: 350px;
    height: 340px;
}

.card3{
    margin-top: -450px;
    margin-left: 800px;
    text-align: center;
    width: 400px;
    height: 450px;
    background-image: linear-gradient(163deg, #11dd70 0%, #3508d8 100%);
    }
    .car3{
        width: 400px;
        height: 450px;
        background-color: #ffffff;
        transition: all 0.2s;
    }   
    .car3:hover{
        transform: scale(0.98);
        border-radius: 20px;
    }
    .car3:hover {
        box-shadow: 0px 0px 40px 2px rgba(6, 204, 98, 0.3);
    }
    
.Imagen5
{
    width: 350px;
    height: 340px;
}

.card4{
    margin-top: -450px;
    margin-left: 1340px;
    text-align: center;
    width: 400px;
    height: 450px;
    background-image: linear-gradient(163deg, #11dd70 0%, #3508d8 100%);
    }
    .car4{
        width: 400px;
        height: 450px;
        background-color: #ffffff;
        transition: all 0.2s;
    }   
    .car4:hover{
        transform: scale(0.98);
        border-radius: 20px;
    }
    .car4:hover{
        box-shadow: 0px 0px 40px 2px rgba(6, 204, 98, 0.3);
    }
.Imagen6
{
    width: 350px;
    height: 340px;
}

.servi {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.cont-servi {
	width: 30%;
	text-align: center;
	margin-bottom: 20px;
}
.cont-servi img{
	width: 80%;
	display: block;
	margin: 0 auto;
}

.n-servi{
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	font-weight: 400;
}


footer{
	background: #9f8ad0;
	padding-bottom: 0.1px;
}

.footer-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: 60px;
	padding-bottom: 40px;
}

.contac-us{
	width: 40%;
	color: #fff;
}

.brand{
	font-weight: 600;
	font-size: 50px;
	margin-top: 50px;
	margin-left: 250px;
}
.brand+p{
	font-weight: 500;
	margin-top: 0px;
	margin-left: 250px;

}
.line{
	position: relative;
	top: 50px;
	left: 100px;
	width: 1650px;
	max-width: 2000px;
	height: 2px;
	background: #fff;
	margin-bottom: 60px;
}